#navbar{
  background-color: #3d494e;
}

p
{
	font-family: 'Champagne & Limousines';
	font-size: 130%;
}

h1
{
	font-family: 'Champagne & Limousines';
}

h2
{
	font-family: 'Champagne & Limousines';
	font-weight: bold;

}

li
{
	font-family: 'Champagne & Limousines';
	font-size: 140%;
}

.container-fluid {
    margin-top: 20px;
}

#couleur{
	color: #fefcfc;
}

#carte {
	margin-left: 13%;
}

.icon-arrow-up:before {
	content: "\e1e4";
}

#mentions{
	margin-top: 12%;
}

#couv{
  max-width: 100%;
  height: auto;
}
